<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Empleados</li>
      <li><a href="{% url 'person_app:all_persons' %}">Listar</a></li>
      <li><a href="{% url 'departament_app:departament_list' %}">Departamentos</a></li>
      <li><a href="{% url 'person_app:Admin_Employs' %}">Administrar</a></li>
      <li><a href="{% url 'departament_app:New_departament' %}">Registrar Departamentos</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Buscar Empleado"></li>
      <a class="button primary" href="{% url 'person_app:register_new_employeed' %}">Registrar Nuevo</a>
    </ul>
  </div>
</div>