{% extends 'includes/base.html' %}

{% block title %}
    Regisrar empleado
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
                <h1 class="cell">Agregar empleado</h1>
                <form class="cell grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <!-- enctype="multipart/form-data" ESTE PARAMETRO ES PARA PODER SUBIR IMAGENES DESDE UNA VISTA -->
                     <div class="cell">
                        <label>Nombres: 
                            {{form.first_name}}
                       </label> 
                        <label>Apellidos
                            {{form.last_name}}
                        </label>
                        <label>Trabajo:
                            {{form.job}}
                        </label>
                        <label>Departamento:
                            {{form.departament}}
                        </label>
                        <label>Foto:
                            {{form.avatar}}
                        </label>
                        <label>Habilidades:
                            {{form.skills}}
                        </label>
                         
                     </div>

                <div class="large-5 columns large-offset-5">
                    <button type="submit" class="button">Agregar</button>
                </div>
                </form>

        </div>
    </div>
     
{% endblock content %}

   