{% extends 'includes/base.html' %}
{% block title %}
Empleados por area
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}
    
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1 style="text-align: center;"> Empleados</h1>
                <div class="cell">
                    <table>
                    <thead>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Departamento</th>
                    </thead>
                        <tbody>
                            {% for employees in Employeed %}
                                <tr>
                                    <td>{{employees.id}}</td>
                                    <td>{{employees.first_name}}</td>
                                    <td>{{employees.last_name}}</td>
                                    <td>{{employees.departament}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
           

        </div>
    </div>

{% endblock content %}
    
