{% extends 'includes/base.html' %}

{% block title %}
Eliminar empleado
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}
    <div style="background-color: black;">
    <div class="grid-container">
        <div class="grid-x">
                <h1 class="cell" style="color: white;">Confirme que desea eliminar el registro del empleado {{Employeed.first_name}} {{Employeed.last_name}}</h1>

                <form class="cell" method="POST">{% csrf_token %}
                    <div class="callout alert">
                        <h5>Desea Eliminarlo?</h5>
                        <button type="submit" class="alert button">Confirme Eliminacion</button>
                    </div>
                    <p style="color: yellow;">Los datos borrados no podran ser recuperados</p>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}



