{% extends 'includes/base.html' %}
{% load static %}

{% block title %} 
Detalle de un empleado
{% endblock title %}


{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="callout grid-x grid-padding-x align-center">
        
        <div class="cell small-5">
            <div class="card" style="width: 500px;">
                <div class="card-divider">
                  <h1>{{empleado.first_name}} {{empleado.last_name}}</h1>  
                </div>
                 {% if empleado.avatar%}
                    <img src="{{empleado.avatar.url}}"  style="width: 500px; height: 450px;">
                {% else %}
                    <img src="{% static 'img/MOB.jpeg' %}" style="width: 500px; height: 450px;">
                {% endif %}
                <div class="card-section">
                   <h3> {{empleado.departament}} </h3>
                  <h4><p>{{empleado.get_job_display}}</p></h4>
                </div>
              </div>
        </div>
    </div>
    
    <ul class="accordion" data-accordion data-allow-all-closed="true">
        <li class="accordion-item is-active" data-accordion-item>
            <h2>
                <a href="#" class="accordion-title">Lista de habilidades</a>
            </h2>
        {% comment %} {% for li in skills%}
          <div class="accordion-content" data-tab-content>
              <p>{{li}}</p>
            </div>
            {% endfor %}
        </li>  get across the context more info in view {% endcomment %} 
        
        {% for li in empleado.skills.all%}
          <div class="accordion-content" data-tab-content>
              <p>{{li.name}}</p>
            </div>
            {% endfor %}
        </li>
        <!-- ... -->
      </ul>

    
</div>
{% endblock content %}