<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOLA POR PALABRA EN CAJA DE TEXTO</h1>

    <form method="GET">{% csrf_token %}
        <input type="text" id="kword" name="kword" placeholder="Ingrese nombre aqui">
        <button type="submit">  BUSCAR</button>
    </form>

<ul>
    <h1>
        RESULTADOS
    </h1>

    
    {% for employes in employees %}
    <li>
        {{employes}}
    </li>
    {% endfor %}
</ul>
</body>
</html>