{% extends 'includes/base.html' %}

    
{% block content %}
    
    {% include 'includes/header.html' %}
   <div class="grid-container">
       <div class="grid-x">
            <h1 class="cell">Lista empleados</h1>
            <div class="cell grid-x grid-margin-x">
                <div class="cell large-7">
                    <form action="" method="GET">{% csrf_token %}
                        <input type="text" id="kword" name="kword" placeholder="Buscar Empleado">
                </div>
                <div class="cell large-2">
                        <button type="submit" class="success button">Buscar</button>
                    </form>   
                </div>
            </div>
            <div class="cell">
                <table>
                    <thead>
                      <tr>
                        <th width="200">Id</th>
                        <th>Nombres</th>
                        <th width="150">Apellidos</th>
                        <th width="150">Departamentos</th>
                        <th width="150">Accion</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for li in list  %} 
                            <tr>
                                <td>{{li.id}}</td>
                                <td>{{li.first_name}}.</td>
                                <td>{{li.last_name}}</td>
                                <td>{{li.departament}}</td>
                                <td><a class="button warning" href="{% url 'person_app:detail_employeed' li.id %}">Ver</a></td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                  </table>
            </div>
            <div class="cell">
                {% if is_paginated %}
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="pagination-previous">
                            <a href="?page={{page_obj.previous_page_number}}"> Atras </a>
                            </li>
                        {% endif %}

                        {% for page in paginator.page_range %}
                            {% ifequal page page_obj.number %}
                                <li class="current"><span class="show-for-sr">Pagina actual</span> {{page}}</li>
                            {% else %}
                                <li><a href="?page={{page}}" aria-label="Page">{{page}}</a></li>
                            {% endifequal %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="pagination-next"><a href="?page={{page_obj.next_page_number}}" aria-label="Next page">Siguiente <span class="show-for-sr">Pagina</span></a></li>
                        {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
       </div>

    <h1> listando a todos los empelados </h1>
   
{% endblock content %}
