<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LISTAR HABILIDADES</h1>


    <form method="GET">{% csrf_token %}
        <input type="text" id ="pallskills" name="pallskills" placeholder="0">
        <button type="submit">BUSCAR</button>
    
    </form>

     <ul>
        {% for li in skillss %}
            <li>
                {{li}}
            </li>
        {% endfor %}
    </ul> 

</body>
</html>