{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
Realizado
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <div class="callout primary grid-x grid-padding-x align-center margin-vertical-2">
                <h1>Operacion Realizada Con Exito</h1>
            </div>
            <img src="{% static 'img/index.png' %}" alt="Spike de cowboy beebop">

        </div>
    </div>

{% endblock content %}