{% extends 'includes/base.html' %}

{% block title %}
    Actualir Empleado
{% endblock title %}

{% block content %}

    {% include 'includes/header.html' %}


<div class="grid-container">
    <div class="grid-x">
    <div class="cell">
        <h1>Modificar datos de un empleado</h1>
    </div>

        <div class="cell">
            <form method="POST">{% csrf_token %}
                <label>Nombres
                    {{form.first_name}}
                </label>
                <label>Apellidos
                    {{form.last_name}}
                </label>
                <label>Trabajo
                    {{form.job}}
                </label>
                <label>Departamento
                   {{form.departament}}
                </label>
                <label> Habilidades
                {{form.skills}}
                </label>

                <button type="submit" class="button primary">Guardar cambios</button>
            </form>

        </div>
    </div>
</div>
    
{% endblock content %}

    
    