{% extends 'includes/base.html' %}
{% load static %}

{% block title %}
INCIO DE EMPLEADOS
{% endblock title %}


{% block content %}

    {% include "includes/header.html" %}

    <!-- INICIO DE IMAGEN DE PORTADA -->
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
        <div class="orbit-wrapper">
          <div class="orbit-controls">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
          </div>
          <ul class="orbit-container">
            <li class="is-active orbit-slide">
              <figure class="orbit-figure">
                <img class="orbit-image" src="{% static 'img/Tanjiro.jpg' %}" alt="Space">
                <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
              </figure>
            </li>
            <li class="orbit-slide">
              <figure class="orbit-figure">
                <img class="orbit-image" src="{% static 'img/MOB1.jpg' %}" alt="Space">
                <figcaption class="orbit-caption">Lets Rocket!</figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    <!-- FIN DE IMAGEN DE PORTADA -->
    
    <!-- Inicio bloque bienvenida -->
      <div class="grid-x align-center">
        <h1 class="cell large-8" style="font-size: 50px; text-align: center;">Bienvenido al sistema de registro de empleados</h1>
        <div class="cell large-7">
            <div class="callout success">
                <h5>MENSAJE DE BIENVENIDA</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est similique commodi ad tempore alias accusamus itaque delectus esse consectetur velit, quos a magnam enim architecto, deserunt quasi voluptates dignissimos recusandae?</p>
                <a href="#">este es un hipervinculo</a>
            </div>
        </div>

      </div>
    <!-- Fin bloque bienvenida -->
   

{% endblock content %}