{% extends 'includes/base.html' %}

{% block title %}
Departamentos
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}
<div class="grid-container">
    <div class="grid-x">
        <div class="cell">
            <h1>Departamentos de la empresa</h1> 
            <div class="cell">
                <table>
                <thead>
                    <th>Nombre Completo</th>
                    <th>Nombre Corto</th>
                    <th>Accion</th>
                </thead>
                    <tbody>
                        {% for departament in departaments %}
                            <tr>
                                <td>{{departament.name}}</td>
                                <td>{{departament.short_name}}</td>
                                <td><a class="button warning" href="{% url 'person_app:departament-people' departament.short_name %}">Ver Empleados</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>

{% endblock content %}