{% extends 'includes/base.html' %}
{% block title %}
Registrar Departamento
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container grid">
        <div class="grid-x">
            <div class="cell align-center">
            <h1>Registrar nuevo departamento</h1>

    <div class="cell callout">

        <form class="align-center grid-x grid-margin-x" method="post">{% csrf_token %}
            <div class="medium-5 cell">
                <h4> <p> Empleado </p></h4>
                <label class="cell"> Nombre de Encargado de departamento.
                    {{form.name}}
                </label >
                <label class="cell"> Apellido.
                    {{form.last_name}}
                </label >
            </div>
            <div class="medium-5 cell">
                <h4> <p> Departamento </p></h4>
                <label class="cell"> Nombre del Departamento..
                    {{form.departament}}
                </label >
                <label class="cell"> Nombre corto del departamento.
                    {{form.short_name}}
                </label >
            </div>
        </form>
        <div class="grid-x grid-padding-x align-center"> <!-- Aligned to the center -->
            <button type="submit" class="cell small-2 success button">Guardar</button>
         </div>
          
    </div>
    

            </div>
        </div>
    </div>

    
{% endblock content %}
    