{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
Realizado
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="cell" style="height:75px;">

        </div>
        <div class="grid-x grid-margin-y" style="height: 125px;">
            <div class="cell callout primary grid-x align-center">
                <h1>Operacion Realizada Con Exito</h1>
            </div>
        </div>
        
        <div class="grid-x">
            <img class="cell grid-x" src="{% static 'img/zenitsu.webp' %}" alt="Spike de cowboy beebop">
        </div>
    </div>

{% endblock content %}