
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>CreateView</title>
</head>
<body>
    <h1 class="ejemplo2">
        hola CreateView
    </h1>

    
    <form method="post">{% csrf_token %}
        {{form.as_p}}
        <button type="submit">NOCE</button>
    </form>

    <label for="Prueba">Prueba</label>
    <input type="text" placeholder="Ingrese el nombre aca">
</body>
</html>