{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/app.css' %}">
    
     <title>PABLO</title>
</head>
<body>
    <h1 class="ejemplo1" >HOLA MUNDO</h1>
    <h1 class="ejemplo2">AHUEVO</h1>

    <div class="button-group">
        <a class="button">One</a>
        <a class="button">Two</a>
        <a class="button">Three</a>
      </div>

      <div class="slider" data-slider data-initial-start="50" data-end="200">
        <span class="slider-handle"  data-slider-handle role="slider" tabindex="1"></span>
        <span class="slider-fill" data-slider-fill></span>
        <input type="hidden">
      </div>
      
<link rel="stylesheet" href="{% static% 'js/app.js'}">
</body>
</html>