<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba lista</title>
</head>
<body>
    <h1>hola que paso</h1>

    {% for element in list %}
    
        <p>
            {{element.title}} - {{element.quanti}}
        </p>
    {% endfor %}

</body>
</html>