<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Prueba de listview</h1>
    <ul>
        <li>{{num_list}}</li>
        <li>valor2</li>
        <li>valor3</li>
    </ul>
</body>
</html>